body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e3e3e3;
    padding: 0;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 40rem;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h2 {
    margin: 1rem 0 0.5rem;
}

h4 {
    margin-top: 0;
    font-weight: normal;
}

input {
    width: 100%;
    max-width: 20rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    padding: 0.5rem;
    border: black 1px solid;
    border-radius: 3px;
}

.camera-input {
    display: none;
}

.preview {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
    border: black 1px solid;
    border-radius: 5px;
    margin-bottom: 1rem;
}

button {
    width: 100%;
    max-width: 15rem;
    padding: 0.7rem;
    margin-bottom: 1rem;
    background-color: darkslategray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

button:hover {
    background-color: rgb(30, 50, 50);
}

.button-delete {
    display: none;
    background-color: darkred;
}

.button-delete:hover {
    background-color: rgb(86, 0, 0);
}

.button-scan {
    display: none;
}

.result-label {
    display: none;
    margin-top: 0.5rem;
}

p {
    display: none;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    border: black 1px solid;
    border-radius: 5px;
    padding: 1rem;
    overflow-wrap: break-word;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 1rem;
        margin: 1rem auto;
    }

    input, button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    button {
        padding: 0.6rem;
    }

    input {
        padding: 0.4rem;
    }
}
